<p>

</p>
<form class="exercise">

    <div class="table">
        <div class="tableHead">
            Sie finden in einer Literaturliste den Hinweis auf “Pharisäer” und bestellen mit der Eingabe <span class="searchPhrase">pharisäer.</span><br/>
            Bitte markieren Sie alles, was Sie bekommen.
        </div>
        {{#with exercise.drinks}}
        <div class="elem">
            <div>{{cafeAuLait.title}}</div>
            <div class="check">
                <input type="checkbox" name="drink" value="{{cafeAuLait.title}}">
            </div>
            <div>{{cafeAuLait.desc}}</div>
        </div>

        <div class="elem">
            <div>{{Einspänner.title}}</div>
            <div class="check">
                <input type="checkbox" name="drink" value="{{Einspänner.title}}">
            </div>
            <div>{{Einspänner.desc}}</div>
        </div>

        <div class="elem">
            <div>{{Eiskaffee.title}}</div>
            <div class="check">
                <input type="checkbox" name="drink" value="{{Eiskaffee.title}}">
            </div>
            <div>{{Eiskaffee.desc}}</div>
        </div>

        <div class="elem">
            <div>{{Fiaker.title}}</div>
            <div class="check">
                <input type="checkbox" name="drink" value="{{Fiaker.title}}">
            </div>
            <div>{{Fiaker.desc}}</div>
        </div>

        <div class="elem">
            <div>{{Franziskaner.title}}</div>
            <div class="check">
                <input type="checkbox" name="drink" value="{{Franziskaner.title}}">
            </div>
            <div>{{Franziskaner.desc}}</div>
        </div>

        <div class="elem">
            <div>{{Häferlkaffee.title}}</div>
            <div class="check">
                <input type="checkbox" name="drink" value="{{Häferlkaffee.title}}">
            </div>
            <div>{{Häferlkaffee.desc}}</div>
        </div>

        <div class="elem">
            <div>{{Kännchen.title}}</div>
            <div class="check">
                <input type="checkbox" name="drink" value="{{Kännchen.title}}">
            </div>
            <div>{{Kännchen.desc}}</div>
        </div>

        <div class="elem">
            <div>{{Kleiner.title}}</div>
            <div class="check">
                <input type="checkbox" name="drink" value="{{Kleiner.title}}">
            </div>
            <div>{{Kleiner.desc}}</div>
        </div>

        <div class="elem">
            <div>{{Latte.title}}</div>
            <div class="check">
                <input type="checkbox" name="drink" value="{{Latte.title}}">
            </div>
            <div>{{Latte.desc}}</div>
        </div>

        <div class="elem">
            <div>{{Maria.title}}</div>
            <div class="check">
                <input type="checkbox" name="drink" value="{{Maria.title}}">
            </div>
            <div>{{Maria.desc}}</div>
        </div>

        <div class="elem">
            <div>{{Melange.title}}</div>
            <div class="check">
                <input type="checkbox" name="drink" value="{{Melange.title}}">
            </div>
            <div>{{Melange.desc}}</div>
        </div>

        <div class="elem">
            <div>{{Milchkaffee.title}}</div>
            <div class="check">
                <input type="checkbox" name="drink" value="{{Milchkaffee.title}}">
            </div>
            <div>{{Milchkaffee.desc}}</div>
        </div>

        <div class="elem">
            <div>{{Pharisäer.title}}</div>
            <div class="check">
                <input type="checkbox" name="drink" value="{{Pharisäer.title}}" data-correct-state="true">
            </div>
            <div>{{Pharisäer.desc}}</div>
        </div>

        <div class="elem">
            <div>{{Rüdesheimer.title}}</div>
            <div class="check">
                <input type="checkbox" name="drink" value="{{Rüdesheimer.title}}">
            </div>
            <div>{{Rüdesheimer.desc}}</div>
        </div>

        <div class="elem">
            <div>{{TürkKahvesi.title}}</div>
            <div class="check">
                <input type="checkbox" name="drink" value="{{TürkKahvesi.title}}">
            </div>
            <div>{{TürkKahvesi.desc}}</div>
        </div>

        <div class="elem">
            <div>{{Verkehrter.title}}</div>
            <div class="check">
                <input type="checkbox" name="drink" value="{{Verkehrter.title}}">
            </div>
            <div>{{Verkehrter.desc}}</div>
        </div>

        <div class="elem">
            <div>{{Verlängerter.title}}</div>
            <div class="check">
                <input type="checkbox" name="drink" value="{{Verlängerter.title}}">
            </div>
            <div>{{Verlängerter.desc}}</div>
        </div>

        <div class="elem">
            <div>{{Wiener.title}}</div>
            <div class="check">
                <input type="checkbox" name="drink" value="{{Wiener.title}}">
            </div>
            <div>{{Wiener.desc}}</div>
        </div>

        {{/with}}
        <div class="tableBottom">
            <div><a href class="send">Bestellen</a></div>
        </div>
    </div>
    <br/>

</form>