<section>
    {{#with page.[0]}}
    <h1 class="icon icon-target">{{headline}}</h1>
    <p>
        {{intro}}
    </p>
    <p>
        {{principles}}
    </p>
    <ul>
        {{#each content}}
        <li>{{.}}</li>
        {{/each}}
    </ul>
    <p>
        {{rechercheCafeIntro}}
    <p>
        {{rechercheCafeIdee}}
    </p>
    {{/with}}
    {{> pageNavigationFull}}
</section>