<section>
    {{#with page.[1]}}
    <h2 class="icon icon-information">{{headline}}</h2>
    <p>
        {{formalVsContent}}
    </p>
    <h3>{{formalHeader}}</h3>
    <p>
        {{formalExplanation}}
    </p>
    <h3>{{contentHeader}}</h3>
    <p>
        {{contentExplanation}}
    </p>
    <h3>{{fieldHeader}}</h3>
    <p>
        {{FieldContent}}
    </p>
    <p>
        {{nextPage}}
    </p>
    {{/with}}
    {{> pageNavigationFull}}
</section>