<section>
    {{#with page.[5]}}
    <h2 class="icon icon-information">{{headline}}</h2>
    <p>
        {{intro}}
    </p>
    <ul>
        <li>
            {{introList.[0]}}
        </li>
        <li class="noBullet">
            {{or}}
        </li>
        <li>
            {{introList.[1]}}
        </li>
    </ul>
    <p>
        {{asterisk}}
    </p>
    <p>
        {{rightTruncation}}
    </p>
    <h3 class="icon icon-example">
        {{examples}}
    </h3>
    <p>
        {{& exampleSearchQuestionmarkIntro}}
    </p>
    <ul>
        <li>
            {{exampleSearchQuestionmarkList.[0]}}
        </li>
        <li>
            {{exampleSearchQuestionmarkList.[1]}}
        </li>
        <li class="noBullet">
            {{andAlso}}
        </li>
        <li>
            {{exampleSearchQuestionmarkList.[2]}}
        </li>
    </ul>
    <p class="extraPaddingBottom">
        <strong>
            {{truncationQuestionmarkSummary}}
        </strong>
    </p>
    <p>
        {{& exampleSearchAsteriskIntro}}
    </p>
    <ul>
        {{#each exampleSearchAsteriskList}}
        <li>
            {{.}}
        </li>
        {{/each}}
    </ul>
    <p>
        {{& exampleSearchDoubleAsteriskIntro}}
    </p>
    <ul>
        {{#each exampleSearchDoubleAsteriskList}}
        <li>
            {{.}}
        </li>
        {{/each}}
    </ul>
    <p>
        <strong>
            {{truncationAsteriskSummary}}
        </strong>
    </p>
    {{/with}}
    {{> pageNavigationFull}}

</section>