<section>
    {{#with page.[7]}}
    <h2 class="icon icon-information">{{headline}}</h2>
    <p>
        {{intro}}
    </p>
    <p>
        {{importantOperators}}
    </p>
    <h3>
        {{andOperators.headline}}
    </h3>
    <p>
        {{andOperators.explanation}}
    </p>
    <h4 class="icon icon-example">
        {{andOperators.exampleHeadline}}
    </h4>
    <p>
        {{& andOperators.exampleIntro}}
    </p>
    <ul>
        {{#each andOperators.exampleResult}}
        <li>
            {{.}}
        </li>
        {{/each}}
    </ul>
    <h3>
        {{orOperators.headline}}
    </h3>
    <p>
        {{orOperators.explanation}}
    </p>
    <p>
        <strong>{{orOperators.attention}}</strong> {{orOperators.attentionText}}
    </p>
    <h4 class="icon icon-example">
        {{orOperators.exampleHeadline}}
    </h4>
    <p>
        {{& orOperators.exampleIntro}}
    </p>
    <ul>
        {{#each andOperators.exampleResult}}
        <li>
            {{.}}
        </li>
        {{/each}}
    </ul>
    <h3>
        {{notOperators.headline}}
    </h3>
    <p>
        {{notOperators.explanation}}
    </p>
    <p>
        <strong>{{notOperators.attention}}</strong> {{notOperators.attentionText}}
    </p>
    <h4 class="icon icon-example">
        {{notOperators.example}}
    </h4>
    <p>
        {{& notOperators.exampleIntro}}
    </p>
    <ul>
        {{#each notOperators.exampleResult}}
        <li>
            {{.}}
        </li>
        {{/each}}
    </ul>
    <h3>
        {{nearOperators.headline}}
    </h3>
    <p>
        {{nearOperators.explanation}}
    </p>
    <h4 class="icon icon-example">
        {{nearOperators.example}}
    </h4>
    <p>
        {{& nearOperators.exampleIntro}}
    </p>
    <ul>
        {{#each nearOperators.exampleResult}}
        <li>
            {{.}}
        </li>
        {{/each}}
    </ul>
    {{/with}}
    {{> pageNavigationFull}}
</section>