<section>
    {{#with page.[20]}}
    <h2>{{headline}}</h2>
    <p>{{intro}}<p>
    <div class="feedbackArea" data-no="{{no}}" data-yes="{{yes}}">
        <div class="enjoyed">
            {{enjoyed}}
        </div>
        <div class="bad">
            {{bad}}
        </div>
        <div class="goodX">
            {{good}}
        </div>
        <div class="goodY">
            {{good}}
        </div>
        <div class="coordinates">
        </div>
        <div class="learned">
            {{learned}}
        </div>
    </div>
    {{/with}}
</section>