<section class="with-exercise">
    <h2 class="icon icon-exercise">{{page.[16].headline}}</h2>
    <p>{{exercise.info}}</p>
    <p></p>

    <form class="exercise"{{#with page.[16]}}{{#if wrong}} data-feedback-wrong="{{wrong}}" {{/if}}{{#if correct}} data-feedback-correct="{{correct}}"{{/if}}{{/with}}>
    <form class="exercise">

        <table>
            <thead>
            <tr>
                <th colspan="3">
                    {{& page.[16].explanation}}
                    <br/>
                    {{exercise.pleaseOrder}}
                </th>
            </tr>
            </thead>


            {{#with exercise.drinks}}
            <tr class="elem">
                <td>{{cafeAuLait.title}}</td>
                <td class="check">
                    <input type="checkbox" name="drink" value="{{cafeAuLait.title}}">
                </td>
                <td>{{cafeAuLait.desc}}<br/><i>Schlagworte: {{cafeAuLait.keywords}}</i></td>
            </tr>

            <tr class="elem">
                <td>{{Einspänner.title}}</td>
                <td class="check">
                    <input type="checkbox" name="drink" value="{{Einspänner.title}}">
                </td>
                <td>{{Einspänner.desc}}<br/><i>Schlagworte: {{Einspänner.keywords}}</i></td>
            </tr>

            <tr class="elem">
                <td>{{Eiskaffee.title}}</td>
                <td class="check">
                    <input type="checkbox" name="drink" value="{{Eiskaffee.title}}" data-correct-state="true">
                </td>
                <td>{{Eiskaffee.desc}}<br/><i>Schlagworte: {{Eiskaffee.keywords}}</i></td>
            </tr>

            <tr class="elem">
                <td>{{Fiaker.title}}</td>
                <td class="check">
                    <input type="checkbox" name="drink" value="{{Fiaker.title}}">
                </td>
                <td>{{Fiaker.desc}}<br/><i>Schlagworte: {{Fiaker.keywords}}</i></td>
            </tr>

            <tr class="elem">
                <td>{{Franziskaner.title}}</td>
                <td class="check">
                    <input type="checkbox" name="drink" value="{{Franziskaner.title}}" data-correct-state="true">
                </td>
                <td>{{Franziskaner.desc}}<br/><i>Schlagworte: {{Franziskaner.keywords}}</i></td>
            </tr>

            <tr class="elem">
                <td>{{Häferlkaffee.title}}</td>
                <td class="check">
                    <input type="checkbox" name="drink" value="{{Häferlkaffee.title}}">
                </td>
                <td>{{Häferlkaffee.desc}}<br/><i>Schlagworte: {{Häferlkaffee.keywords}}</i></td>
            </tr>

            <tr class="elem">
                <td>{{Kännchen.title}}</td>
                <td class="check">
                    <input type="checkbox" name="drink" value="{{Kännchen.title}}">
                </td>
                <td>{{Kännchen.desc}}<br/><i>Schlagworte: {{Kännchen.keywords}}</i></td>
            </tr>

            <tr class="elem">
                <td>{{Kleiner.title}}</td>
                <td class="check">
                    <input type="checkbox" name="drink" value="{{Kleiner.title}}">
                </td>
                <td>{{Kleiner.desc}}<br/><i>Schlagworte: {{Kleiner.keywords}}</i></td>
            </tr>

            <tr class="elem">
                <td>{{Latte.title}}</td>
                <td class="check">
                    <input type="checkbox" name="drink" value="{{Latte.title}}">
                </td>
                <td>{{Latte.desc}}<br/><i>Schlagworte: {{Latte.keywords}}</i></td>
            </tr>

            <tr class="elem">
                <td>{{Maria.title}}</td>
                <td class="check">
                    <input type="checkbox" name="drink" value="{{Maria.title}}">
                </td>
                <td>{{Maria.desc}}<br/><i>Schlagworte: {{Maria.keywords}}</i></td>
            </tr>

            <tr class="elem">
                <td>{{Melange.title}}</td>
                <td class="check">
                    <input type="checkbox" name="drink" value="{{Melange.title}}" data-correct-state="true">
                </td>
                <td>{{Melange.desc}}<br/><i>Schlagworte: {{Melange.keywords}}</i></td>
            </tr>

            <tr class="elem">
                <td>{{Pharisäer.title}}</td>
                <td class="check">
                    <input type="checkbox" name="drink" value="{{Pharisäer.title}}">
                </td>
                <td>{{Pharisäer.desc}}<br/><i>Schlagworte: {{Pharisäer.keywords}}</i></td>
            </tr>

            <tr class="elem">
                <td>{{Rüdesheimer.title}}</td>
                <td class="check">
                    <input type="checkbox" name="drink" value="{{Rüdesheimer.title}}" data-correct-state="true">
                </td>
                <td>{{Rüdesheimer.desc}}<br/><i>Schlagworte: {{Rüdesheimer.keywords}}</i></td>
            </tr>

            <tr class="elem">
                <td>{{TürkKahvesi.title}}</td>
                <td class="check">
                    <input type="checkbox" name="drink" value="{{TürkKahvesi.title}}">
                </td>
                <td>{{TürkKahvesi.desc}}<br/><i>Schlagworte: {{TürkKahvesi.keywords}}</i></td>
            </tr>

            <tr class="elem">
                <td>{{Wiener.title}}</td>
                <td class="check">
                    <input type="checkbox" name="drink" value="{{Wiener.title}}">
                </td>
                <td>{{Wiener.desc}}<br/><i>Schlagworte: {{Wiener.keywords}}</i></td>
            </tr>

            {{/with}}
            <tfoot class="tableBottom">
            <tr>
                <th colspan="3">
                    <a href class="reset">{{exercise.reset}}</a>
                    <a href class="send">{{exercise.submit}}</a>
                </th>
            </tr>
            </tfoot>
        </table>
    </form>
    {{> pageNavigationFull}}

</section>