<section>
    {{#with page.[2]}}
    <h2 class="icon icon-example">{{headline}}</h2>
    <p>
        {{intro}}
    </p>
    <ul>
        {{#each introExamples}}
        <li>
            {{.}}
        </li>
        {{/each}}
    </ul>
    <p>
        {{professorRecommendation}}
    </p>
    <p>
        {{authorHacker}}
    </p>
    <ul>
        <li>
            {{authorHackerExamples.[0]}}
        </li>
        <li class="noBullet">
            {{or}}
        </li>
        <li>
            {{authorHackerExamples.[1]}}
        </li>
    </ul>
    {{/with}}
    {{> pageNavigationFull}}
</section>